################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
*.sqlite
*.wsuo
*.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite
*.sqlite-journal
